@import url(https://fonts.googleapis.com/css?family=Lato);
* {
    font-family: Lato, sans-serif;
    margin: 0px 5px 0px 5px;
}    
.hamburger { 
    display: inline;
    position: absolute;
    top: 1.0rem;
    right: 1.25rem; 
    -webkit-animation: pulse 1.2s linear infinite;
    animation: pulse 1.2s linear infinite;
    background-color: #354649;
    color: white;
}
.navi { 
    list-style: none; 
    padding-left: 0; 
}
.navi li { 
    display: none; 
}

@media only screen and (max-width: 600px) {
header {
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
}
.navi.responsive { 
    position: absolute; 
    display: inline;
    margin-top: 30px;
    top: 2.0rem;
    right: 1.25rem; 
    width: 1in;
}
.navi.responsive li { 
    display: flex;
    font-size: 20px;
    background-color: #e0e7e9;
    border-color: #354649;
    border-style: outset;
    border-width: 5px;
    border-radius: 20px;
    text-align: center;
}
.navi.responsive li a {	
    text-align: center;	
}
.navi.responsive li:hover { 
    background-color: #a3c6c4;
    color: darkblue;
}
.navi.responsive li a:active {
    background-color: #a3c6c4;
    color: darkblue;
}
.navi.responsive li a.current {
    background-color: #a3c6c4;
}
#forecast {
    display: none;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
}
#index {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: auto;
  }
.media h2 {
    font-size: 16px;
}
}

head {

}

body {

}
header {
    display: flex;
    flex-direction: column;
    justify-items: center;
    background-color: #a3c6c4;
    color: #354649;
    border-radius: 10px;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.motto {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
}
header img {
    height: 50px;
}
header h1 {
    font-size: 40px;
}
header h2 {
    font-size: 25px;
}

nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: #354649;
    border-radius: 10px;
    margin-top: 10px;

}
nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}
nav li {
    background-color: #e0e7e9;
    border-color: #354649;
    border-style: outset;
    border-width: 5px;
    border-radius: 20px;
}
nav li a {
    text-decoration: none;
    justify-content: center;
    background-color: transparent;
    color: #354649;
}
nav li.current {
    background-color: #a3c6c4;
}
.navi {
    
}
/* Pulse */
@-webkit-keyframes pulse {
    25% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    75% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  }
.navi li:hover {
    background-color: #a3c6c4;
    color: #354649;
    -webkit-animation: pulse 1.2s linear infinite;
    animation: pulse 1.2s linear infinite;
}
.navi li a:active {
    background-color: #a3c6c4;
    color: darkblue;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10px;
    margin: 10px 0 10px 0;
    font-size: 12px;
    background-color: #e0e7e9;
    border-radius: 10px;
}
main picture {
    margin: 10px;
}
img {
    border-radius: 10px;
}
main p {
    width: 95%;
}
section {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    padding-bottom: 10px; 
    margin-bottom: 10px;
    max-width: 100%;
    background-color: #e0e7e9;
    border-radius: 10px;
}
article {
    display: grid;
    min-width: 95%;
    max-height: 100%;
    grid-template-columns: 1fr;
    justify-items: center;
    margin: 5px;
    padding: 5px;
}
article p.motto {
    font-weight: bold;
}
article img {
    max-width: 100%;
    max-height: 100%;
}
article h2 {
    margin-bottom: 10px;
}
article p {
    max-width: 100%;
    text-align: center;
}
#currentweather {
    background-image: url("../images/rainy-small.jpg");
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 10px;
}
#currentweather p {
    margin-left: 35px;
    text-shadow: 1px 2px #354649;
    color: white;
    text-align: unset;
}
#forecast div{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    justify-items: center;
    border: 1px solid black;
}
#forecast h3 {
    grid-column-start: 1;
    grid-column-end: 6;
}
footer {
    font-size: 20px;
    background-color: #354649;
    color: white;
    padding-top: 10px;
    margin-top: 5px;
    border-radius: 10px;
}
footer p {
    text-align: center;
}
footer p.contact {
    background-color: #e0e7e9;
}
h1 {
    font-size: 30px;
    color: #354649;
}
h2 {
    font-size: 25px;
    color: #354649;
}
h3 {
    font-size: 20px;
    color: #354649;
}
p {
    font-size: 16px;
    color: #6c7a89;
}
#social {
    display: flex;
    flex-direction: row;
}
#foot {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e0e7e9;  
    min-height:  20px;  
}

.fa-facebook {
    background: #3B5998;
    color: white;
    border-radius: 50px;
    width: 30px;

  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
    border-radius: 50px;
    width: 30px;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
    border-radius: 50px;
    width: 30px;
  }
  .gallery {
    display: grid;
    grid-gap: 5px;
    padding: 5px;
}
.gallery img {
    max-width: 100%;
    object-fit: cover;
}

form {
    background-color: #e0e7e9;
    box-shadow: 10px 5px 5px #a3c6c4;
}
form fieldset {
    margin: 1rem 2rem 0 0 ;
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: .5rem 2%;
}
form legend {
    color: #354649;
    margin: 0 1rem;
    padding: 0 .5rem;
    font-size: 16px;
    font-weight: bold;
}
form label.user, form label.storm {
    display: block;
    padding-top: 1rem;
}
form label.danger{
    display: block;
    padding: .75rem 0;
    border: solid 1px lightgrey;
    border-radius: 4px;
    width: 10rem;
}
form label.user input, form label.storm input, form label.storm select form, label.storm textarea {
    display: block;
    font-size: 1rem;
    border: solid 1px lightgrey;
    border-radius: 4px;
    padding: .75rem;

}
#stormregion {
    width: 10rem;
}
#stormregion option:hover {
    font-size: 20px;
}
form .submitBtn {
    border: none;
    background-color: #354649;
    color: #e0e7e9;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 1rem 0 2rem 2%;
    width: 20rem;
}
#map {
    height: 200px;
    width: 300px;
}
