@media only screen and (min-width: 800px) {
    .hamburger {
        display: none;
    }
    h2 {
        font-size: 25px;
    }
    h3 {
        font-size: 20px;
    }
    #slide {
        width: 800px;
    }
    .temples {
        grid-template-columns: 1fr 1fr;
    }
    section.services {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
