
* {
    font-family: 'Open Sans', sans-serif;
    color: #31708e;
}
h1 {
    font-size: 30px;
}
h2 {
    font-size: 20px;
}
h3 {
    font-size: 14px;
}
header {
    background-color: #f7f9fb;
}
.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px 0 0 0;
}
.title img {
    height: 100px;
}
.title h1 {
    padding: 0 0 0 5px;
}

.motto {
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #f7f9fb;
}
nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
}
nav li {
    display: flex;
    font-size: 20px;
    border-radius: 10px;  
    border: 1px ridge #8fc1e3;
    padding: 1px 2px 1px 2px;
    margin: 1px 3px 1px 3px;
    box-shadow: 5px 2px #687864;
}
nav li a {
    text-decoration: none;
    justify-content: center;
    background-color: transparent;
    padding: 3px 5px 0 5px;
}
.navi li:hover{
    -webkit-animation: pulse 1.2s linear infinite;
    animation: pulse 1.2s linear infinite;
}
.navi.responsive {
    width: 1in;
}
.current {
    background-color: #8fc1e3;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7f9fb;
}
main p {
    width: 90%;
}
main a {
    text-decoration: none;

}
main img {
    border: 1px ridge #687864;
    border-radius: 10px;
    box-shadow: 1px 2px #687864;
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.foot {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 0 5px 10px 5px;
}
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 60%;
    background-color: #f7f9fb;
}
.contact h3
.contact p {
    margin-top: none;
    padding-top: none;
}

#social {
    display: flex;
    flex-direction: row;
    background-color: #f7f9fb;
    font-size: 20px;
}
.fa-facebook {
    background: #3B5998;
    color: white;
    border-radius: 50px;
    width: 20px;
    padding: 5px 8px 5px 8px;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
    border-radius: 50px;
    width: 20px;
    padding: 5px 8px 5px 8px;
}
.fa-google {
    background: #dd4b39;
    color: white;
    border-radius: 50px;
    width: 20px;
    padding: 5px 8px 5px 8px;
}
.copy p {
    text-align: center;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    color: #8fc1e3;
}
#map {
    height: 200px;
    width: 300px;
    background-color: transparent;
}
#index {
    display: grid;

}

#index article {
    padding: 0 2px 0 2px;

}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 5px 5px #687864;

}
form fieldset {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 1rem 2rem 0 0;
    border: 1px ridge #55ACEE;
    border-radius: 10px;
    padding: .5rem 2%;
    width: 50%;
    box-shadow: 10px 5px 5px #687864;
}
form legend {
    font-size: 16px;
    font-weight: bold;
}
.services {
    display: grid;
    padding: 0 20px 0 20px;
    grid-gap: 10px;
    align-items: center;

}
.services article  {
    display: flex;
    flex-direction: column;    
    max-width: 300px;
}
.services img {
    max-width: 100%;
}
.temples {
    display: grid;
}
.temples img {
    max-width:100%;
    border-radius: 10px;
}
.temples article {
    padding: 0 0 0 10px;
}
.temples h3 {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
.temples p {
    padding: 0 0 0 10px;
    margin: 0 0 0 0;
}

@media only screen and (max-width: 600px) {
    .hamburger { 
        display: inline;
        position: absolute;
        top: .5rem;
        right: 1.25rem; 
        -webkit-animation: pulse 1.2s linear infinite;
        animation: pulse 1.2s linear infinite;
        background-color: #5085a5;
        color: #687864;
        box-shadow: 2px 2px #8fc1e3;
    }

    #slide {
        width: 400px;
        border-radius: 20px;
    }
    .navi {
        display: none;
    }
    .navi.responsive {
        position: absolute;
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        top: 2.0rem;
        right: 1.25rem;
        width: 1.5in;
        
    }
    .navi.responsive li {
        display: flex;
        background-color:#f7f9fb;
        padding: 3px 0 0 3px;
    }
    .navi.responsive li:hover {
        background-color: #55ACEE;
    }
    .navi.responsive li a:active {
        background-color: #55ACEE;
    }
    .contact p {
        font-size: 12px;
    }
    .copy p {
        font-size: 12px;
    }
    .temples {
        grid-template-columns: 1fr;
    }
    section.services {
        grid-template-columns: 1fr;
    }
}


/* Pulse */
@-webkit-keyframes pulse {
    25% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    75% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  }